Install AutoFaker from PyPI

In [ ]:
pip install autofaker

Import modules

In [2]:
from autofaker import Autodata

Creates an anonymous variable of the built-in types and dates

In [3]:
print(f'anonymous string:    {Autodata.create(str)}')
print(f'anonymous int:       {Autodata.create(int)}')
print(f'anonymous float:     {Autodata.create(float)}')

import datetime
print(f'anonymous datetime:  {Autodata.create(datetime)}')
print(f'anonymous date:      {Autodata.create(datetime.date)}')

anonymous string:    5ba5034b-8d63-45ae-b3f6-d2012d572ba5
anonymous int:       3501
anonymous float:     1909.161796545137
anonymous datetime:  2023-10-22 06:37:12.000143
anonymous date:      2027-04-23 00:00:00

Create collections containing anonymous variables of built-in types and dates

In [4]:
print(f'anonymous strings:    {Autodata.create_many(str)}')
print(f'anonymous ints:       {Autodata.create_many(int, 10)}')
print(f'anonymous floats:     {Autodata.create_many(float, 5)}')

import datetime
print(f'anonymous datetime:   {Autodata.create_many(datetime)}')
print(f'anonymous date:       {Autodata.create_many(datetime.date)}')

anonymous strings:    ['aca860ca-f7e3-46ec-ac8d-1987475eced6', '93deb23e-9150-4c0e-afbb-6f8ab841a73f', 'c9991d0e-5ffb-475e-8d7b-d41c21b8fc76']
anonymous ints:       [340, 6788, 7757, 8050, 1057, 8250, 1449, 7438, 8785, 9561]
anonymous floats:     [3891.088134911823, 562.150752313344, 9720.692582482836, 2528.1076652540037, 4967.568810505899]
anonymous datetime:   [datetime.datetime(2029, 12, 24, 6, 46, 39, 645), datetime.datetime(2023, 12, 12, 3, 58, 14, 772), datetime.datetime(2030, 11, 9, 22, 11, 44, 350)]
anonymous date:       [datetime.datetime(2027, 10, 17, 0, 0), datetime.datetime(2029, 2, 26, 0, 0), datetime.datetime(2013, 10, 1, 0, 0)]

Creates an anonymous class

In [5]:
class SimpleClass:
    id = -1
    text = 'test'

cls = Autodata.create(SimpleClass)
print(f'id = {cls.id}')
print(f'text = {cls.text}')

id = 5416
text = 577e1b6f-a8c4-4fc5-bfaa-eed378147194

Creates an anonymous dataclass

In [6]:
from dataclasses import dataclass

@dataclass
class DataClass:
    id: int
    text: str

cls = Autodata.create(DataClass)
print(f'id = {cls.id}')
print(f'text = {cls.text}')

id = 4460
text = 71c9aaf9-cef1-4ea8-aac8-ebba8bb8d425

Creates an anonymous dataclass using fake data

In [14]:
@dataclass
class DataClass:
    id: int

    name: str
    address: str
    job: str

    country: str
    currency_name: str
    currency_code: str

    email: str
    safe_email: str
    company_email: str

    hostname: str
    ipv4: str
    ipv6: str

    text: str


data = Autodata.create(DataClass, use_fake_data=True)

print(f'id:               {data.id}')
print(f'name:             {data.name}')
print(f'job:              {data.job}\n')
print(f'address:\n{data.address}\n')

print(f'country:          {data.country}')
print(f'currency name:    {data.currency_name}')
print(f'currency code:    {data.currency_code}\n')

print(f'email:            {data.email}')
print(f'safe email:       {data.safe_email}')
print(f'work email:       {data.company_email}\n')

print(f'hostname:         {data.hostname}')
print(f'IPv4:             {data.ipv4}')
print(f'IPv6:             {data.ipv6}\n')

print(f'text:\n{data.text}')

id:               6756
name:             Philip Mason
job:              Engineer, manufacturing

address:
532 Carpenter Canyon Suite 204
West Alyssa, HI 07247

country:          Ecuador
currency name:    South African rand
currency code:    SVC

email:            nwatson@example.net
safe email:       bdavis@example.org
work email:       pzimmerman@brandt-miller.com

hostname:         srv-99.johnson.biz
IPv4:             121.165.60.89
IPv6:             65bb:884d:6ed2:5a73:e61e:59f8:7960:c798

text:
Reduce loss unit skill reflect night issue great. Late change individual far you toward. Evening threat education today attack teacher.

Create a collection of an anonymous class

In [15]:
class SimpleClass:
    id = -1
    text = 'test'

classes = Autodata.create_many(SimpleClass)
for cls in classes:
  print(f'id = {cls.id}')
  print(f'text = {cls.text}')
  print()

id = 1779
text = be6bbcfa-44a5-4617-99d0-dcc6c0feb459

id = 5951
text = 7b3df11c-d2f4-4c59-9ee7-c41b5b7f861a

id = 5771
text = c77a3a07-7483-40a3-9088-b4d9e4ee5713

Create an anonymous class with nested types

In [16]:
class NestedClass:
    id = -1
    text = 'test'
    inner = SimpleClass()

cls = Autodata.create(NestedClass)
print(f'id = {cls.id}')
print(f'text = {cls.text}')
print(f'inner.id = {cls.inner.id}')
print(f'inner.text = {cls.inner.text}')

id = 9848
text = 49c28b1e-75b0-42a4-b53b-d607f701cad2
inner.id = 2753
inner.text = 6f243959-1141-4818-bc81-9fa2e3fee145

Create a collection of an anonymous class with nested types

In [17]:
class NestedClass:
    id = -1
    text = 'test'
    inner = SimpleClass()

classes = Autodata.create_many(NestedClass)
for cls in classes:
  print(f'id = {cls.id}')
  print(f'text = {cls.text}')
  print(f'inner.id = {cls.inner.id}')
  print(f'inner.text = {cls.inner.text}')

id = 5118
text = a345d274-af77-46b1-b1d7-23b885f66bc1
inner.id = 5962
inner.text = 56d3c5fc-0750-48e0-a0bf-c7cfc087344f
id = 6361
text = 790fb03b-5ed8-4a18-9e60-2be928f380a9
inner.id = 7325
inner.text = 5daaa0fe-e60e-4140-b45e-0a05cba5938c
id = 7211
text = 12e0db73-34d6-460b-9f6f-9a8554a17e7a
inner.id = 9355
inner.text = 61f4ce35-fb17-4e80-8650-b387c7b571c7

Create a Pandas DataFrame using anonymous data generated from a specified type

In [18]:
class DataClass:
    id = -1
    type = '' 
    value = 0

pdf = Autodata.create_pandas_dataframe(DataClass)
print(pdf)

     id                                  type  value
0  3166  1225344f-63ae-4f8d-992e-34ae111e6c14   8749
1  5700  76f23eac-39ea-45fb-840c-8268bd1f615b   3325
2  6647  5581ea44-fd84-4799-a1cf-89743603784b   2130

Create a Pandas DataFrame using fake data generated from a specified type

In [54]:
@dataclass
class DataClass:
    id: int
    first_name: str
    last_name: str
    phone_number: str

pdf = Autodata.create_pandas_dataframe(DataClass, use_fake_data=True)
print(pdf)

  first_name    id  last_name         phone_number
0    Michael  5060   Williams         518-903-3552
1     Daniel  9280   Thompson   861-831-7399x30399
2     Austin  1020  Gillespie  +1-526-451-3570x529