<a href="https://colab.research.google.com/github/christianhelle/pyautodata/blob/main/docs/pyautodata_cheatsheet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Install pyautodata from PyPI

In [ ]:
pip install -i https://test.pypi.org/simple/ pyautodata

Import modules

In [ ]:
from pyautodata import Autodata

Creates an anonymous variable of the built-in types and dates

In [ ]:
print(f'anonymous string:    {Autodata.create(str)}')
print(f'anonymous int:       {Autodata.create(int)}')
print(f'anonymous float:     {Autodata.create(float)}')

import datetime
print(f'anonymous datetime:  {Autodata.create(datetime)}')
print(f'anonymous date:      {Autodata.create(datetime.date)}')

anonymous string: 2b1bd371-b098-4076-b18d-e07fa8d007a2
anonymous int:    2119178501
anonymous float:  229951202.85866272
anonymous datetime: 2017-07-08 08:38:36.000767
anonymous date:     2017-04-04 00:00:00

Create collections containing anonymous variables of built-in types and dates

In [ ]:
print(f'anonymous strings:    {Autodata.create_many(str)}')
print(f'anonymous ints:       {Autodata.create_many(int, 10)}')
print(f'anonymous floats:     {Autodata.create_many(float, 5)}')

import datetime
print(f'anonymous datetime:  {Autodata.create_many(datetime)}')
print(f'anonymous date:      {Autodata.create_many(datetime.date)}')

anonymous string:    ['29804bd6-ed6d-4099-8639-d43e050ac2b5', 'f5e79856-0595-4751-b63e-20fddefb3cdc', '88ccf98a-92f9-4f84-b9a7-8bc115a9a610']
anonymous int:       [907108205, 1304782987, 836335642, 341492454, 1313021477, 1055762617, 1107652306, 1133657194, 1365555384, 1786109194]
anonymous float:     [1749650445.4516416, 295799465.64064974, 462873734.2985262, 1394756826.493378, 1223966902.0798628]
anonymous datetime:  [datetime.datetime(2025, 4, 22, 22, 51, 52, 367), datetime.datetime(2013, 12, 13, 0, 20, 12, 343), datetime.datetime(2027, 1, 27, 5, 58, 39, 625)]
anonymous date:      [datetime.datetime(2012, 6, 7, 0, 0), datetime.datetime(2027, 8, 10, 0, 0), datetime.datetime(2030, 2, 25, 0, 0)]

Creates an anonymous class

In [ ]:
class SimpleClass:
    id = 123
    text = 'test'

cls = Autodata.create(SimpleClass)
print(f'id = {cls.id}')
print(f'text = {cls.text}')

id = 943823957
text = bdf4b9d2-7a28-46ec-bf13-feae1112b6ce

Create a collection of an anonymous class

In [ ]:
class SimpleClass:
    id = 123
    text = 'test'

classes = Autodata.create_many(SimpleClass)
for cls in classes:
  print(f'id = {cls.id}')
  print(f'text = {cls.text}')
  print()

id = 486830186
text = a31cddd8-abdd-4ba0-a669-7caf0dec78bf

id = 1185352059
text = 9c36aaf1-45ec-446e-9f85-944a5cd5dd67

id = 1733104242
text = 8c6b685f-ca21-4445-966d-81b60e38637f

Create an anonymous class with nested types

In [ ]:
class NestedClass:
    id = 123
    text = 'test'
    inner = SimpleClass()

cls = Autodata.create(NestedClass)
print(f'id = {cls.id}')
print(f'text = {cls.text}')
print(f'inner.id = {cls.inner.id}')
print(f'inner.text = {cls.inner.text}')

id = 1317419723
text = 5879774e-63b4-4f2e-9a3d-375a5542d099
inner.id = 1511771757
inner.text = 5190f5c7-63b4-4086-aeac-401918e525dd

Create a collection of an anonymous class with nested types

In [ ]:
class NestedClass:
    id = 123
    text = 'test'
    inner = SimpleClass()

classes = Autodata.create_many(NestedClass)
for cls in classes:
  print(f'id = {cls.id}')
  print(f'text = {cls.text}')
  print(f'inner.id = {cls.inner.id}')
  print(f'inner.text = {cls.inner.text}')

id = 927383564
text = 02e672f9-93db-498a-b0df-f0446d3afc6f
inner.id = 509523295
inner.text = 202621bc-656b-4bbb-94f2-dce25c195c76
id = 825390259
text = d37f7ec0-abd0-4b5c-83e4-c438a563498d
inner.id = 2122935480
inner.text = d0b6f9eb-f455-4e51-b273-6074fff5ff55
id = 1318867052
text = 28dc6fac-ad1b-4c44-99ed-52141d95a47f
inner.id = 286836507
inner.text = c21c3d9d-0185-42d1-b2ca-47380a61d3f9

Create a Pandas DataFrame using anonymous data generated from a specified type

In [ ]:
class DataClass:
    id = 0
    type = '' 
    value = 0

pdf = Autodata.create_pandas_dataframe(DataClass)
print(pdf)

           id                                  type       value
0   285993941  b6736477-ba2d-4c99-aec5-ac46e54106b4   589083529
1   292299282  97eba99c-5d1c-40cc-a386-5eb9a20adf57   290803183
2  1290573190  e80802a2-7400-4524-bd0f-1429d3f02b6f  1819918620

Create a Spark DataFrame using anonymous data generated from a specified type

In [ ]:
class DataClass:
    id = 0
    type = '' 
    value = 0

df = Autodata.create_spark_dataframe(DataClass)
df.show()